.side-navbar{ 
    width: 170px;   
    background-color: #002d42;   
    height: 100vh; 
    z-index: 1000; 
    position: fixed; 
    top: 0;

} 
/* .top-navbar{ 
    position: fixed; 
    top: 0; 
    left: 180px; 
    height: 55px
}   */
.content{ 
    margin-left: 200px;  
    width: (100vw - 200px); 
    height: 100vh; 
    margin-top: -50px;
    
} 
