<div class="container"> 
    <div class="logo-section">
        <img src="assets/logo.png" alt="Logo" class="logo">
    </div>

    <mat-nav-list>
        <mat-list-item (click)="openLocationDialog()" class="nav-item">
            <div class="nav-icon-container">
                <img [src]="navLogoLocation" alt="Location" class="nav-icon">
            </div>
        </mat-list-item> 
        
        <mat-list-item class="nav-item">
            <div class="nav-icon-container">
                <img [src]="navLogoSettings" alt="Settings" class="nav-icon">
            </div>
        </mat-list-item> 
        
        <mat-list-item (click)="openProfileDialog()" class="nav-item">
            <div class="nav-icon-container">
                <img [src]="navLogoUser" alt="Profile" class="nav-icon">
            </div>
        </mat-list-item>
    </mat-nav-list>
</div>