<div class="container"> 
    <mat-nav-list>
        <mat-list-item
        (mouseover)="onHoverLocation(true)" 
        (mouseleave)="onHoverLocation(false)">
            <img [src]="navLogoLocation" alt="">
        </mat-list-item> 
        <mat-list-item 
        (mouseover)="onHoverNotification(true)" 
        (mouseleave)="onHoverNotification(false)">
            <img [src]="navLogoNotification" alt="">
        </mat-list-item> 
        <mat-list-item 
        (mouseover)="onHoverSettings(true)" 
        (mouseleave)="onHoverSettings(false)">
            <img [src]="navLogoSettings" alt="">
        </mat-list-item> 
        <mat-list-item 
        (mouseover)="onHoverUser(true)" 
        (mouseleave)="onHoverUser(false)">
            <img [src]="navLogoUser" alt="">
        </mat-list-item>
    </mat-nav-list>
</div>