<div class="container-card">
    <div class="header">
        <h3>{{ item.location }}</h3> 
        <button class="menu-btn" (click)="toggleDropdown()">...</button>  
    </div> 
    <div class="container-event-holder"> 
        <div class="container-event-holder-main"> 
            <div class="desc">  
                <h1>{{ item.name }}</h1> 
                <p>{{ item.description }}</p> 
            </div>

            <div class="date-notification"> 
                <div class="date-div"> 
                    <p>{{ item.startDate }}</p> 
                    <p>{{ item.endDate }}</p>
                </div>  
                <div class="event-noti">  
                    <div class="task-counter">
                        <img src="assets/doubletick-grey.png" alt="" class="doubletick">
                        <p>{{ item.taskCompleted }} / {{ item.totalTask }}</p>
                    </div>  
                </div>

            </div>
        </div>
    </div>  
    <div class="task-btn">
        <button class="newTask" (click)="openForm()">+ Add New Task</button>
    </div>  
    <div *ngIf="dropdownVisible" class="dropdown-menu">
        <ul>
            <li (click)="updateItem()">Update</li>
            <li (click)="deleteItem()">Delete</li>
            <li>
                Status
                <ul class="status-dropdown">
                    <li (click)="setStatus('complete')">Complete</li>
                    <li (click)="setStatus('inProgress')">In Progress</li>
                    <li (click)="setStatus('upcoming')">Upcoming</li>
                </ul>
            </li>
        </ul>
    </div>
</div>   

<app-addtask *ngIf="showForm" (close)="closeForm()"></app-addtask>