<div class="container-card">
    <div class="header">
        <h3>Location</h3> 
        <button class="menu-btn">...</button> 
    </div>
    <div class="container-event-holder"> 
        <div class="container-event-holder-main"> 
            <div class="desc">  
                <h1>{{ item.Eventname }}</h1> 
                <p>{{ item.description }}</p> 
            </div>

            <div class="date-notification"> 
                <p>date</p>  
                <div class="event-noti">  
                    <p>event done</p> 
                    <p>notifications</p>
                </div>

            </div>
        </div>
    </div>  
    <div class="task-btn">
        <button class="newTask" (click)="openForm()">+ Add New Task</button>
    </div> 

</div> 
<app-addtask *ngIf="showForm" (close)="closeForm()"></app-addtask>