<div class="navbar-container">
    <mat-nav-list>  
        <mat-list-item class="head-list">
            <h1 class="heading">EVENT MASTER</h1>
        </mat-list-item>
        
        <mat-list-item class="nav-item"
            (mouseover)="onHoverAdd(true)" 
            (mouseleave)="onHoverAdd(false)"
            [routerLink]="['dashboard']"
        > 
            <div class="nav-content">
                <img [src]="iconSrcAdd" alt="add"> 
                <p class="btns">Add Event</p>
            </div> 
        </mat-list-item> 

        <mat-list-item class="nav-item"
            (mouseover)="onHoverEvent(true)" 
            (mouseleave)="onHoverEvent(false)"
            [routerLink]="['event']"
        > 
            <div class="nav-content">
                <img [src]="iconSrcEvent" alt="events"> 
                <p class="btns">Events</p>
            </div> 
        </mat-list-item>

        <mat-list-item class="nav-item"
            (mouseover)="onHoverGuest(true)" 
            (mouseleave)="onHoverGuest(false)"
            [routerLink]="['guest']"
        > 
            <div class="nav-content">
                <img [src]="iconSrcGuest" alt="guests"> 
                <p class="btns">Guests</p>
            </div> 
        </mat-list-item>

        <mat-divider class="nav-divider"></mat-divider>

        <mat-list-item class="nav-item"
            (mouseover)="onHoverBudget(true)" 
            (mouseleave)="onHoverBudget(false)"
            [routerLink]="['budget']"
        > 
            <div class="nav-content">
                <img [src]="iconSrcBudget" alt="budget"> 
                <p class="btns">Budget</p>
            </div> 
        </mat-list-item>

        <mat-list-item class="nav-item"
            (mouseover)="onHoverVendor(true)" 
            (mouseleave)="onHoverVendor(false)"
            [routerLink]="['vendor']"
        > 
            <div class="nav-content">
                <img [src]="iconSrcVendor" alt="vendors"> 
                <p class="btns">Vendors</p>
            </div> 
        </mat-list-item> 

        <mat-list-item #profileItem 
        class="nav-item profile-item"
        (mouseover)="onHoverProfile(true)" 
        (mouseleave)="onHoverProfile(false)"
        (click)="openProfileDialog($event)"
    > 
        <div class="nav-content">
            <img [src]="iconSrcProfile" alt="profile"> 
            <p class="btns">Profile</p>
        </div> 
    </mat-list-item> 
    </mat-nav-list>
</div>