* { 
    font-family: "Raleway", sans-serif;
}

mat-list-item div{ 
    padding: 5px; 
} 

mat-list-item p{ 
    color: hsl(0, 1%, 54%); 
} 

mat-list-item div{ 
    display: flex;
    align-items: center;
    justify-content: flex-start;
} 

mat-list-item p{ 
    font-size: 15px;
}

mat-list-item div img{ 
    width: 20px;
    height: 20px; 
    margin-right: 10px; 
    margin-bottom: 8px;
} 

mat-list-item:hover .btns{ 
    color: white;
}


