<div class="modal-overlay" (click)="closeForm()"></div>
<div class="form-container">
  <div class="form-header">
    <h2>Add Guest</h2>
    <span class="close-btn" (click)="closeForm()"><img src="assets/cancel-grey.png" alt="Close"></span>
  </div>
  <hr class="top-line">

  <form (ngSubmit)="onSubmit(guestForm)" #guestForm="ngForm">
    <div class="form-group">
      <label for="name">Name:</label>
      <input
        type="text"
        id="name"
        name="name"
        placeholder="Enter name"
        [(ngModel)]="guest.name"
        #name="ngModel"
        (input)="validateName($event)"
        required
      />
      <div *ngIf="name.invalid && name.touched" class="error-message">Not applicable</div>
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="Enter email"
        [(ngModel)]="guest.email"
        #email="ngModel"
        required
      />
      <div *ngIf="email.invalid && email.touched" class="error-message">Not applicable</div>
    </div>


    <div class="form-group">
      <label for="food">Dietary Preference:</label>
      <select
        id="food"
        name="food"
        [(ngModel)]="guest.food"
        #food="ngModel"
        required
      >
        <option value="VEG">Veg</option>
        <option value="NON_VEG">Non-Veg</option>
      </select>
    </div>

    
    <div class="form-group">
      <button type="submit" class="submit-btn" [disabled]="guestForm.invalid">Create Guest</button>
    </div>
  </form>
</div>
