<div class="guest-page-container">
    <h1>Guest</h1>
    
    <div class="filters-container">
        <div class="dropdown" (click)="toggleDropdown($event)">
            <button class="dropdown-button">
                {{ selectedEventId ? (events | find:selectedEventId)?.name : 'Select Event' }}
                <i class="fas fa-chevron-down"></i>
            </button>
            <div class="dropdown-content" *ngIf="dropdownOpen">
                <div *ngFor="let event of events" 
                     class="dropdown-item"
                     (click)="selectOption(event)">
                    {{ event.name }}
                </div>
            </div>
        </div>
        <button class="add-guest-button" (click)="openForm()" [disabled]="!selectedEventId">
            Add Guest
        </button>
    </div>

    <div class="guests-list" *ngIf="guests.length > 0">
        <div class="header-wrapper" *ngFor="let guest of guests">
            <div class="header-container">
                <div class="left-section">
                    <div class="label-text">{{ guest.name }}</div>
                </div>
                
                <div class="right-section">
                    <div class="dietary-preference">
                        <span [class]="getDietaryPreferenceClass(guest)">
                            {{ getDietaryPreferenceClass(guest) }}
                        </span>
                    </div>

                    <button class="action-button" 
                            *ngIf="canSendRsvp(guest)"
                            (click)="sendRsvp(guest)">
                        Send RSVP
                    </button>

                    <button class="action-button" 
                            (click)="sendReminders(guest)">
                        Send Reminder
                    </button>

                    <button class="icon-button edit" (click)="editGuest(guest)">
                        <img src="assets/edit-grey.png" class="icon-img" alt="Edit">
                    </button>

                    <button class="icon-button delete" (click)="deleteGuest(guest)">
                        <img src="assets/delete-grey.png" class="icon-img" alt="Delete">
                    </button>
                </div>
            </div>
        </div>
    </div>


</div> 
<app-add-guest-form
*ngIf="showForm"
[eventId]="selectedEventId"
(close)="closeForm()"
(guestAdded)="onGuestAdded($event)">
</app-add-guest-form>

<app-edit-guest-form
*ngIf="showEditForm && selectedGuest"
[guest]="selectedGuest"
[eventId]="selectedEventId"
(close)="closeEditForm()">
</app-edit-guest-form>