<div class="form-container">
    <div class="form-header">
      <h2>Adding Event</h2>
      <span class="close-btn" (click)="closeForm()">X</span>
    </div>
    <hr class="top-line">
    <div class="form-body">
      <label for="eventName">Event Name:</label>
      <input type="text" id="eventName" name="eventName" required />
  
      <label for="eventDescription">Event Description:</label>
      <input type="text" id="eventDescription" name="eventDescription" required />
  
      <div class="date-time">
        <div>
          <label for="startDate">Start Date:</label>
          <input type="date" id="startDate" name="startDate" required />
        </div>
        <div>
          <label for="endDate">End Date:</label>
          <input type="date" id="endDate" name="endDate" required />
        </div>
      </div>
  
      <div class="date-time">
        <div>
          <label for="startTime">Start Time:</label>
          <input type="time" id="startTime" name="startTime" required />
        </div>
        <div>
          <label for="endTime">End Time:</label>
          <input type="time" id="endTime" name="endTime" required />
        </div>
      </div>
  
      <label for="eventType">Event Type:</label>
      <select id="eventType" name="eventType">
        <option value="wedding">Wedding</option>
        <option value="corporate">Corporate Counter</option>
        <option value="community">Community Festival</option>
      </select>
  
      <label for="venue">Venue:</label>
      <div class="search-box">
        <input type="text" id="venue" name="venue" placeholder="Search Venue" />
        <img src="D:\capstone-frontend\src\assets\sear.jpg" alt="Search" class="search-icon" />
      </div>
  
      <button type="submit" class="submit-btn">Submit</button>
    </div>
  </div>
  