<div class="container"> 
    <div class="inner-container"> 
        <div class="header"> 
            <div class="header-child">  
                <h1>Dashboard</h1>
                <button class="add-event" (click)="openForm()"> + &nbsp;New Event</button>
            </div>  
        
            <div class="header-search">
                <div class="wrap">
                    <div class="search">
                        <input matInput 
                        type="text" 
                        class="searchTerm" 
                        placeholder="Search by event name or location"
                        (input)="onSearch($event)">
                       <button type="submit" class="searchButton">
                         <img src="assets/search-white.png" alt="" class="search-img">
                      </button>
                    </div>
                 </div>
            </div> 

        </div>
        <div class="event-scroll">
            <app-eventcards *ngFor="let item of filteredEvents" [item]="item"></app-eventcards>
        </div> 
        <div *ngIf="filteredEvents.length === 0" class="no-results">
            No events found
          </div>
     </div>
</div>  
<app-add-event-form *ngIf="showForm" (close)="closeForm()"></app-add-event-form>

