<div class="container"> 
    <div class="inner-container"> 
        <div class="header"> 
            <div class="header-child">  
                <h1>Dashboard</h1>
                <button class="add-event"> + &nbsp;New Event</button>
            </div>  
            <div class="switch3-container">
                <div class="switch3">
                  <input type="radio" id="switch3-radio1" name="radio"/>
                  <label for="switch3-radio1">Inprogress</label>
          
                  <input type="radio" id="switch3-radio2" name="radio"/>
                  <label for="switch3-radio2">Completed</label>
          
                  <input type="radio" id="switch3-radio3" name="radio"/>
                  <label for="switch3-radio3">Upcomming</label>
          
                </div>
            </div>
            <div class="header-search">
                <div class="wrap">
                    <div class="search">
                       <input type="text" class="searchTerm" placeholder="Search Event">
                       <button type="submit" class="searchButton">
                         <img src="assets/search-white.png" alt="" class="search-img">
                      </button>
                    </div>
                 </div>
            </div> 

        </div>
        <div class="event-scroll">
            <app-eventcards *ngFor="let item of items" [item]="item"></app-eventcards>
        </div>
     </div>
</div>

