/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100vh; 
    width: 100vw;  
    overflow: hidden; 
}

body {
    margin: 0;
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-style: normal;
} 



.custom-dialog .mat-dialog-container {
    padding: 0;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1),
                0 8px 10px -6px rgba(0, 0, 0, 0.1);
  }
  
  .custom-backdrop {
    background: rgba(0, 0, 0, 0);
  }